<settings>

    <servers>
    <server>
        <id>imbula-imbula-web-app</id>
        <username>aws</username>
        <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    </servers>

    <profiles>
    <profile>
        <id>imbula-imbula-web-app</id>
        <activation>
        <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
        <repository>
            <id>imbula-imbula-web-app</id>
            <url>https://imbula-487771357305.d.codeartifact.ap-southeast-1.amazonaws.com/maven/imbula-web-app/</url>
        </repository>
        </repositories>
    </profile>
    </profiles>

    <mirrors>
    <mirror>
        <id>imbula-imbula-web-app</id>
        <name>imbula-imbula-web-app</name>
        <url>https://imbula-487771357305.d.codeartifact.ap-southeast-1.amazonaws.com/maven/imbula-web-app/</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
    </mirrors>

</settings>